/**
	CSSS basic slideshow theme
	
	@author Lea Verou
	@version 1.0
*/

/**
 
/**
 * Styles
 */

* {
	padding:0;	
	margin:0;
	font:inherit;
	color:inherit;
}

html {
	background: #ffffff;
	background-size: cover;
}

body {
	/*background: url('img/Layout-N.png') no-repeat left top;*/
	font-family: "OpenSans-Light", sans-serif;
	font-weight: lighter;
}

button {
	padding:.2em .5em;
}

a:hover {
	text-shadow: 0 0 .5em white, 0 0 1em white;
}

select {
	color: black;
}

code, pre, style, textarea, input {
	font-family: Consolas, 'Andale Mono', 'Courier New', monospace;	
	background:rgba(0,0,0,.4);
}

code {
	padding:.2em .2em .1em;
	white-space: nowrap;
	border-radius:.2em;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.25);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 12px rgba(255,255,255,0.15), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.delayed.displayed, .delayed-children > .displayed {
	opacity: .5;
}

pre, style, textarea {
	padding:.3em .5em;
	margin-left: -.1em;
	border:2px solid rgba(255, 255, 255, .1);
	box-shadow:.1em .1em .5em black inset;
}

	pre > code {
		padding: 0;
		white-space: pre;
		border: 0;
		background: 0;
		box-shadow: none;
	}

textarea {
	width: 100%;
	box-sizing: border-box;
}

strong, b {
	font-weight:bold;	
}

	pre strong {
		text-shadow: 0 0 .6em white;
	}

.slide {
	background-clip: padding-box;
	color: #66bdbb;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#indicator {
	background: #005578;
	color: #badfe5;
	font-size: 15px;
	font-weight: inherit;
	height: 28px;
	margin-right: -495px;
	padding-top: 4px;
	position: absolute;
	right: 50%;
	text-shadow: none;
	top: 80px;
	width: 28px;
}

	h1, .slide h1, h2, .slide h2 {
		font-size: 53px;
		font-weight: 100;
		letter-spacing: -3px;
		line-height: 52px;
	}
		
	.slide > ul {
		margin-top: 49px;
		padding-bottom: 107px;
		text-align: justify;
	}
	
	.slide ol {
		margin-left:2em;	
	}
		
		.slide > ul ul {
			margin-left:2em;	
			list-style: none;
		}
			
		.slide li, p {
			color: #6d6e70;
			font-size: 33px;
			letter-spacing: -2px;
			line-height: 40px;
			list-style-image: url('img/Bullet.png');
			margin-left: 44px;
			margin-top: 23px;
			padding-left: 27px;
		}
		
		p {
			margin-left: 0;
			padding-left: 0;
		}
		
			.slide li ul {
				margin-bottom: 23px;
			}
			
			.slide li li {
				list-style: none;
				margin-left: 0;
				opacity: 0.62;
				padding-left: 0;
			}

.image.slide {
	background-color: #FFF;
}

			
section > header.slide {
	background-color: #2E7794;
}

	section > header.slide > h1,
	section > header.slide > .holder > h1,
	section > .holder > .slide > h1
	 {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -.6em;
		font-size: 200%;
		line-height: 1;
		text-align: left;
	}

.slide .emphasis {
	padding: .4em .5em .3em;
	margin: .3em 0;
	background: #f80;
	background: linear-gradient(#fa0, #f80);
	color: white;
	font-weight: bold;
	letter-spacing: -.05em;
	line-height: .85;
	text-shadow: .05em .05em .1em rgba(0,0,0,.4);
	border-radius: .3em;
	box-shadow:.1em .1em .5em black;
}

.light.slide .emphasis {
	box-shadow:.1em .1em .5em rgba(0,0,0,.4);
}

.slide .emphasis::before {
	content: '\279C';
	color: rgba(255,255,255,.5);
	float: left;	
	width: .75em;
	height: 0;
	padding: .45em 0 .3em;
	margin: -.2em .2em 0 -.25em;
	border: .12em solid;
	text-align: center;
	line-height: 0;
	font-size: 120%;
	font-family: inherit;
	text-shadow: none;
	border-radius:999px;
	transform: rotate(45deg);
}

.attribution {
	background: rgba(0,0,0,.8);
	color: white;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1em;
	padding: .5em 1em;
	font-size: 30%;
	text-shadow: .05em .05em .1em black;
}

	.attribution a {
		text-decoration: none;
	}
	
	.attribution a::after {
		content:  ' (' attr(href) ')';
	}

#botbar {
	background: url(img/Bottom.png);
	bottom: 0;
	height: 18px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

#bullets {
	background: url(img/Bullets.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

#div {
	border-top: 1px solid #005578;
	bottom: 107px;
	left: 50%;
	margin-left: -508px;
	position: fixed;
	width: 41px;
}

.holder {
	left: 50%;
	margin-left: -467px;
	min-height: 396px;
	position: absolute;
	top: 152px;
	width: 934px;
}

.imgmask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(img/ImgMask.png);
	z-index: 9;
}
.snippet {display: none;}
#nextt {
	background: url(img/Nextt.png);
	height: 50px;
	left: 50%;
	margin-left: -467px;
	position: absolute;
	top: 59px;
	width: 115px;
}

.slide[data-source]:after {
	background: url(img/Alt.png);
	color: white;
	content: attr(data-source);
	font-size: 15px;
	height: 189px;
	line-height: 189px;
	position: absolute;
	right: 142px !important;
	text-align: center;
	text-shadow: 0 0 .1em .1em black;
	text-shadow: 0 0 .1em black;
	bottom: 30px;
	width: 189px;
	z-index: 100;
}

#timeholder {
	background: #66bdbb;
	bottom: 107px;
	height: 16px;
	left: 50%;
	margin-left: 367px;
	position: fixed;
	width: 99px;
	z-index: 999;
}

#timer:before {
	content: '';
}

#timer {
	background: #005578;
}

#topbar {
	background: #005578;
	height: 7px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

/* Syntax highlighting */

.comment {
	color: #999;
}

.string {
	color: yellow;
}

.keyword {
	font-weight: bold;
	color: deeppink;
}

.number, .boolean {
	color: #0cf;
}

.regex {
	color: orange;
}
